.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.item {
    background-color: blue;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}